html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 14px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: ARIAL;
}


h1 {
  font-size: 45px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}