html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 14px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: ARIAL;
}


h1 {
  font-size: 45px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
html {
  background-color: #0096FF;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #fcae1e;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}